.partner
  - if partner.logo.file?
    - link_to partner.url do
      = image_tag partner.logo.url(:small)
  %h2= link_to partner, partner.url
  
  - admin_section do 
    = link_to "Uredi", edit_resource_path(partner)