- if partner.logo.file?
  .partner{:style => "background: url(#{partner.logo.url(:small)}) center center no-repeat"}
    = link_to partner.name, partner.url, :class => "partner_url"
    - admin_section do 
      = link_to "Uredi", edit_resource_path(partner)