html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Georgia', serif;
  font-size: 14px;
  line-height: 20px; }

a {
  text-decoration: none; }
  a:focus {
    outline: 1px dotted invert; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .hn {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold; }

h6, .h6 {
  font-size: 14px;
  line-height: 20px; }

h5, .h5 {
  font-size: 16.333px;
  line-height: 25px; }

h4, .h4 {
  font-size: 19.056px;
  line-height: 30px; }

h3, .h3 {
  font-size: 22.231px;
  line-height: 35px; }

h2, .h2 {
  font-size: 25.937px;
  line-height: 40px; }

h1, .h1 {
  font-size: 30.26px;
  line-height: 45px; }

ol {
  list-style: decimal; }

ul {
  list-style: square; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-top: 20px;
  margin-bottom: 20px; }

#header h1, #header h2 {
  margin: 0;
  padding: 0; }
#header h1 {
  position: absolute;
  top: 20px;
  left: 18px; }
  #header h1 a {
    display: block;
    width: 700px;
    height: 100px;
    background: url(/images/head/logo.png) no-repeat; }
    #header h1 a span {
      display: none; }
#header h2 {
  position: absolute;
  top: 80px;
  left: 20px; }
  #header h2 a {
    font: normal 14px/14px Helvetica, Arial, sans-serif;
    color: #fff; }

#menu {
  position: absolute;
  bottom: 0;
  left: 0; }
  #menu ol {
    margin: 0;
    margin-left: 12px;
    display: inline-block;
    display: block; }
    #menu ol:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html #menu ol {
      height: 1%; }
    #menu ol li {
      list-style: none;
      float: left; }
      #menu ol li a {
        display: block;
        background: url(/images/backgrounds/50black.png);
        padding: 5px;
        margin: 20px 5px;
        color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        text-shadow: 0px 1px 1px #272727;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
        #menu ol li a:hover {
          background: url(/images/backgrounds/25white.png); }

#languages {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-align: right; }
  #languages:hover .list {
    background: url(/images/backgrounds/20black.png); }
    #languages:hover .list a {
      display: block; }
  #languages .list {
    padding: 5px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
    #languages .list a {
      font-family: Helvetica, Arial, sans-serif;
      text-shadow: 0px 1px 1px #272727;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      display: none;
      width: 100px;
      background: url(/images/backgrounds/50black.png);
      padding: 5px;
      color: #fff;
      margin-bottom: 5px; }
      #languages .list a:hover {
        background: url(/images/backgrounds/25white.png); }
      #languages .list a span {
        display: block;
        padding-right: 25px; }
      #languages .list a.sl span {
        background: url(/images/flags/si.png) no-repeat right center; }
      #languages .list a.en span {
        background: url(/images/flags/en.png) no-repeat right center; }
      #languages .list a.sr span {
        background: url(/images/flags/sr.png) no-repeat right center; }
      #languages .list a.hr span {
        background: url(/images/flags/hr.png) no-repeat right center; }
      #languages .list a.active {
        display: block; }

#flash #notice {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
  background: #E3FFD6;
  border: 2px solid #419C1E; }
#flash #error {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
  background: #FEE1DD;
  border: 2px solid #000;
  border-color: #9b2b1a; }

#authentication {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(/images/backgrounds/50black.png);
  padding: 5px;
  color: #fff;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }
  #authentication * {
    margin: 0;
    padding: 0; }
  #authentication a {
    display: table;
    background-color: #e3a924;
    padding: 2.5px 5px;
    color: #000 !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid transparent; }
    #authentication a:hover {
      background-color: #fff;
      border: 1px solid #ccc;
      text-decoration: none !important; }
  #authentication p {
    float: left; }
    #authentication p.logged_in {
      text-shadow: 0px 1px 1px #272727;
      margin-right: 10px;
      line-height: 26px; }

.admin {
  margin: 0;
  padding: 0;
  display: inline-block;
  display: block; }
  .admin a {
    display: table;
    background-color: #e3a924;
    padding: 2.5px 5px;
    color: #000 !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid transparent;
    float: left;
    margin-left: 5px;
    line-height: 20px; }
    .admin a:hover {
      background-color: #fff;
      border: 1px solid #ccc;
      text-decoration: none !important; }
  .admin:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html .admin {
    height: 1%; }
  #content>.admin {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 500px;
    margin: 0;
    padding: 0; }
    #content>.admin a {
      float: right; }

#content .tinymce {
  width: 100% !important;
  height: 350px !important; }
#content .mceLayout table td {
  padding: 0;
  margin: 0; }

form .half.first {
  display: inline;
  float: left;
  width: 300px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 60px; }
  form .half.first:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html form .half.first {
    height: 1%; }
  form .half.first.narrow {
    display: inline;
    float: left;
    width: 150px;
    display: inline-block;
    display: block;
    margin-top: 0;
    margin-bottom: 0; }
    form .half.first.narrow:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html form .half.first.narrow {
      height: 1%; }
form .half.second {
  display: inline;
  float: left;
  width: 200px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  form .half.second:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html form .half.second {
    height: 1%; }
form fieldset.submit {
  clear: both;
  margin: 0; }
form div.submit {
  border-top: 2px solid #efefef;
  margin: 25px 0;
  padding: 25px 0; }
  form div.submit.top {
    border-top: 0;
    border-bottom: 2px solid #efefef; }
form textarea {
  width: 350px;
  height: 150px; }
  form textarea.long {
    height: 350px; }
form legend {
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0px 1px 1px #BABABA;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }
form h2 {
  margin-top: 10px;
  margin-bottom: 10px; }
form fieldset {
  margin: 25px 0;
  position: relative; }
  form fieldset.delimiter {
    border-bottom: 1px dotted #ccc; }
  form fieldset .question, form fieldset .answer, form fieldset .attribute {
    margin-top: 10px;
    margin-bottom: 10px; }
  form fieldset .question .fieldWithErrors {
    color: #9b2b1a; }
  form fieldset .answer .fieldWithErrors {
    background-color: #9b2b1a;
    padding: 1px;
    display: table; }
  form fieldset .to_top {
    display: none !important;
    position: absolute;
    bottom: 10px;
    right: 0px;
    z-index: 999; }
  form fieldset:hover .to_top {
    display: table !important; }
  form fieldset .photo label {
    display: block;
    clear: both; }
  form fieldset .photo .image {
    float: left;
    margin: 5px 0;
    margin-right: 5px;
    position: relative; }
    form fieldset .photo .image a {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      background: url(/images/backgrounds/50black.png);
      color: #fff !important;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold; }
    form fieldset .photo .image:hover a {
      display: block;
      text-decoration: none !important; }

.errorExplanation {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 2px solid #ff0000;
  border-color: #9b2b1a;
  border-left: 0;
  border-right: 0; }
  .errorExplanation h2 {
    font-size: 20px; }

#content table td, #content table th a, #content table th span {
  padding: 0;
  padding-top: 5px;
  padding-right: 22.5px;
  padding-left: 2.5px;
  vertical-align: middle; }
#content table thead tr th a, #content table thead tr th span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: block;
  text-align: left;
  border-bottom: 2px solid #eee;
  color: #000;
  white-space: nowrap; }
#content table thead tr th a:hover {
  background-color: #efefef; }
#content table thead tr th a.ascending, #content table thead tr th a.descending {
  background-color: #efefef;
  background-position: right center;
  background-repeat: no-repeat; }
#content table thead tr th a.ascending {
  background-image: url(/images/ui/ascending.png); }
#content table thead tr th a.descending {
  background-image: url(/images/ui/descending.png); }
#content table tbody tr:hover td {
  background: #efefef; }
#content table tbody tr td {
  border-bottom: 1px solid #eee; }
  #content table tbody tr td .user {
    white-space: nowrap;
    width: 100px;
    margin: 0 !important;
    padding: 0; }
    #content table tbody tr td .user a {
      display: block;
      padding: 1px 5px; }

div.section {
  border-top: 1px dotted #ccc; }

.field .description {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px; }
.field .value {
  margin-top: 5px;
  margin-bottom: 20px; }

#spinner {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
  position: fixed;
  top: -10px;
  right: -10px;
  padding: 20px;
  padding-left: 10px;
  padding-bottom: 10px; }

.post {
  position: relative;
  border-bottom: 1px dotted #ccc; }
  .post .admin {
    position: absolute;
    top: 0;
    right: 0; }
  .post h2 {
    margin-bottom: 0px; }
  .post .timestamp {
    color: #555; }

#abouts-show #contact {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 280px;
  margin-right: 0; }
  #abouts-show #contact .details {
    margin: 0; }
    #abouts-show #contact .details p.name {
      margin-top: 0; }
    #abouts-show #contact .details .segment {
      margin: 20px 0; }
      #abouts-show #contact .details .segment p {
        margin: 5px 0; }
#abouts-show .map {
  padding-left: 10px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 480px; }
  #abouts-show .map #map h4 {
    margin: 0;
    margin-bottom: 10px; }

#partners-index .partner {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin-bottom: 20px; }
  #partners-index .partner:hover a.partner_url {
    display: block; }
  #partners-index .partner .admin {
    position: absolute;
    right: 0;
    top: 0; }
  #partners-index .partner a.partner_url {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    text-align: center;
    color: #000;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-decoration: none !important;
    background: url(/images/backgrounds/70white.png);
    font-size: 14px;
    text-shadow: 0px 1px 1px #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; }

#categories-index .category {
  position: relative;
  height: 75px;
  margin-bottom: 20px;
  display: inline-block;
  display: block; }
  #categories-index .category:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #categories-index .category {
    height: 1%; }
  #categories-index .category .admin {
    position: absolute;
    top: 0;
    right: 0; }
  #categories-index .category img {
    display: block;
    width: 75px;
    margin-right: 20px; }
  #categories-index .category img, #categories-index .category .text {
    height: 75px;
    float: left; }
  #categories-index .category .text {
    width: 600px; }
    #categories-index .category .text h2 {
      margin: 0;
      font-size: 20px; }
      #categories-index .category .text h2 a {
        color: #000; }

#products-index .product {
  display: inline;
  float: left;
  width: 350px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  #products-index .product:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #products-index .product {
    height: 1%; }

#products-new #local_lang, #products-edit #local_lang, #products-create #local_lang, #products-update #local_lang {
  position: absolute;
  top: 0;
  right: 0; }
  #products-new #local_lang li, #products-edit #local_lang li, #products-create #local_lang li, #products-update #local_lang li {
    list-style: none;
    float: left; }
    #products-new #local_lang li.caption, #products-edit #local_lang li.caption, #products-create #local_lang li.caption, #products-update #local_lang li.caption {
      margin-right: 5px;
      line-height: 26px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-shadow: 0px 1px 1px #DDD; }
    #products-new #local_lang li a, #products-edit #local_lang li a, #products-create #local_lang li a, #products-update #local_lang li a {
      width: 30px;
      height: 26px;
      margin-left: 5px;
      display: table;
      background-color: #fff;
      border: 1px solid #bababa;
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px; }
      #products-new #local_lang li a.active, #products-edit #local_lang li a.active, #products-create #local_lang li a.active, #products-update #local_lang li a.active {
        display: none; }
      #products-new #local_lang li a:hover, #products-edit #local_lang li a:hover, #products-create #local_lang li a:hover, #products-update #local_lang li a:hover {
        background: #aaa; }
      #products-new #local_lang li a.sl, #products-edit #local_lang li a.sl, #products-create #local_lang li a.sl, #products-update #local_lang li a.sl {
        background-image: url(/images/flags/si.png);
        background-repeat: no-repeat;
        background-position: center center; }
      #products-new #local_lang li a.en, #products-edit #local_lang li a.en, #products-create #local_lang li a.en, #products-update #local_lang li a.en {
        background-image: url(/images/flags/en.png);
        background-repeat: no-repeat;
        background-position: center center; }
      #products-new #local_lang li a.sr, #products-edit #local_lang li a.sr, #products-create #local_lang li a.sr, #products-update #local_lang li a.sr {
        background-image: url(/images/flags/sr.png);
        background-repeat: no-repeat;
        background-position: center center; }
      #products-new #local_lang li a.hr, #products-edit #local_lang li a.hr, #products-create #local_lang li a.hr, #products-update #local_lang li a.hr {
        background-image: url(/images/flags/hr.png);
        background-repeat: no-repeat;
        background-position: center center; }
      #products-new #local_lang li a span, #products-edit #local_lang li a span, #products-create #local_lang li a span, #products-update #local_lang li a span {
        display: none; }
#products-new form, #products-edit form, #products-create form, #products-update form {
  clear: both; }
  #products-new form fieldset .pitch textarea, #products-edit form fieldset .pitch textarea, #products-create form fieldset .pitch textarea, #products-update form fieldset .pitch textarea {
    height: 36px; }
  #products-new form fieldset .photo, #products-edit form fieldset .photo, #products-create form fieldset .photo, #products-update form fieldset .photo {
    display: inline;
    float: left;
    width: 250px;
    display: inline-block;
    display: block;
    margin-top: 0;
    margin-bottom: 0; }
    #products-new form fieldset .photo:after, #products-edit form fieldset .photo:after, #products-create form fieldset .photo:after, #products-update form fieldset .photo:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html #products-new form fieldset .photo, * html #products-edit form fieldset .photo, * html #products-create form fieldset .photo, * html #products-update form fieldset .photo {
      height: 1%; }
  #products-new form fieldset.basic_table, #products-edit form fieldset.basic_table, #products-create form fieldset.basic_table, #products-update form fieldset.basic_table {
    padding-bottom: 40px;
    border-bottom: 1px solid #999; }
  #products-new form fieldset .second, #products-edit form fieldset .second, #products-create form fieldset .second, #products-update form fieldset .second {
    padding-left: 50px; }
  #products-new form fieldset.submit, #products-edit form fieldset.submit, #products-create form fieldset.submit, #products-update form fieldset.submit {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px;
    background: #eee; }
    #products-new form fieldset.submit em, #products-edit form fieldset.submit em, #products-create form fieldset.submit em, #products-update form fieldset.submit em {
      visibility: hidden; }
    #products-new form fieldset.submit:hover em, #products-edit form fieldset.submit:hover em, #products-create form fieldset.submit:hover em, #products-update form fieldset.submit:hover em {
      padding-left: 10px;
      visibility: visible;
      color: #666;
      font-family: Helvetica, Arial, sans-serif;
      text-shadow: 0px 1px 1px #DDD;
      font-size: 12px;
      font-style: normal; }
  #products-new form h2, #products-edit form h2, #products-create form h2, #products-update form h2 {
    display: table;
    padding-right: 30px; }
  #products-new form .sl h2, #products-edit form .sl h2, #products-create form .sl h2, #products-update form .sl h2 {
    background: url(/images/flags/si.png) no-repeat right center; }
  #products-new form .en h2, #products-edit form .en h2, #products-create form .en h2, #products-update form .en h2 {
    background: url(/images/flags/en.png) no-repeat right center; }
  #products-new form .hr h2, #products-edit form .hr h2, #products-create form .hr h2, #products-update form .hr h2 {
    background: url(/images/flags/hr.png) no-repeat right center; }
  #products-new form .sr h2, #products-edit form .sr h2, #products-create form .sr h2, #products-update form .sr h2 {
    background: url(/images/flags/sr.png) no-repeat right center; }

body {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: inline-block;
  display: block;
  background: url(/images/backgrounds/body_gradient.png) repeat-x fixed; }
  body:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html body {
    height: 1%; }

#header {
  display: inline;
  float: left;
  width: 800px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  position: relative;
  background: url(/images/head/head_laser.jpg) no-repeat;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px; }
  #header:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #header {
    height: 1%; }

#content {
  display: inline;
  float: left;
  width: 800px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  display: inline-block;
  display: block;
  position: relative;
  background: #fff;
  padding-bottom: 20px; }
  #content:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #content {
    height: 1%; }
  #content:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #content {
    height: 1%; }
  #content a {
    color: #224EBB; }
    #content a:hover {
      text-decoration: underline; }
  #content>h1, #content>h2, #content>h3, #content>h4, #content>h5, #content>h6, #content>p, #content>div, #content>table, #content>ul, #content>ol, #content>form {
    margin-left: 20px;
    margin-right: 20px; }
  #content h1, #content h2, #content h3 {
    text-shadow: 0px 1px 1px #BABABA; }
  #content ol.collection li, #content ul.collection li {
    font-size: 16px;
    list-style: inside; }
  #content ol#local_nav {
    display: inline-block;
    display: block; }
    #content ol#local_nav:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html #content ol#local_nav {
      height: 1%; }
    #content ol#local_nav li {
      float: left;
      list-style: none; }
      #content ol#local_nav li a {
        display: table;
        background-color: #e3a924;
        padding: 2.5px 5px;
        color: #000 !important;
        font-weight: bold;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-shadow: 0px 1px 1px #fff;
        border: 1px solid transparent;
        width: auto;
        background: url(/images/backgrounds/70white.png);
        border-color: #ccc;
        margin-right: 10px; }
        #content ol#local_nav li a:hover {
          background-color: #fff;
          border: 1px solid #ccc;
          text-decoration: none !important; }
        #content ol#local_nav li a:hover {
          background: url(/images/backgrounds/50black.png);
          color: #fff !important;
          text-shadow: 0px 1px 1px #272727; }
  #content a.to_top {
    clear: both;
    width: 60px !important;
    display: table;
    background-color: #e3a924;
    padding: 2.5px 5px;
    color: #000 !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid transparent;
    width: auto;
    background: url(/images/backgrounds/70white.png);
    border-color: #ccc; }
    #content a.to_top:hover {
      background-color: #fff;
      border: 1px solid #ccc;
      text-decoration: none !important; }
    #content a.to_top:hover {
      background: url(/images/backgrounds/50black.png);
      color: #fff !important;
      text-shadow: 0px 1px 1px #272727; }
  #content a.to_back {
    display: table;
    background-color: #e3a924;
    padding: 2.5px 5px;
    color: #000 !important;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid transparent;
    width: auto;
    background: url(/images/backgrounds/70white.png);
    border-color: #ccc;
    clear: both;
    margin-top: 40px;
    margin-left: 20px; }
    #content a.to_back:hover {
      background-color: #fff;
      border: 1px solid #ccc;
      text-decoration: none !important; }
    #content a.to_back:hover {
      background: url(/images/backgrounds/50black.png);
      color: #fff !important;
      text-shadow: 0px 1px 1px #272727; }

#footer {
  display: inline;
  float: left;
  width: 800px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #999; }
  #footer:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #footer {
    height: 1%; }
  #footer p {
    text-shadow: 1px 2px 1px #fff; }
    #footer p a {
      color: inherit;
      font-weight: bold; }
