= title "Poizvedbe"

%table.nice
  %thead
    %tr
      %th 
        %span Podjetje/Oseba
      %th 
        %span Industrija
      %th 
        %span Datum oddaje
      %th
  %tbody= render collection