= title "Poizvedba ##{resource.id}"

- admin_section do
  = link_to "Odstrani", resource, :method => :delete, :confirm => destroy_confirmation(resource)

.field
  .description Datum
  .value= l resource.created_at
  
- field resource, :contact_name
- field resource, :industry
- field resource, :phone
- field resource, :email

.field.body
  .description Besedilo
  .value=h resource.body